.header {
    height: 60px;
    background: #0964cf;
    color: white;
}
.wrapper {
    background-color: rgb(229, 229, 229);
    // overflow: hidden;
    font-size: 14px;
}
.title {
    font-size: 22px;
    font-weight: 500;
    margin-left: 15px;
}

.frame {
    margin: 0px;
    padding: 15px 15px;
    background-color: white;
    width: 100%;
    min-height: 880px;
    margin-bottom: 5px;
    position: relative;
}

.search-bar {
    width: 50%;
    margin-left: 30px;
}

.icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.icon-empty {
    color: rgb(236, 239, 244);
    width: 100px;
    height: 150px;
}

.icon-delete {
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #0964cf;
}

.properties-1 {
    min-width: 120px;
    text-align: center;
}

.properties-2 {
    min-width: 380px;
}

.properties-3 {
    text-align: center;
    min-width: 180px;
}

.columns {
    margin-top: 10px;
    padding: 10px;
    padding-right: 7%;
    height: 40px;
    font-weight: 600;
    width: fit-content;
    display: flex;
}

.content {
    overflow-y: scroll;
    max-height: 850px;
}

.my-btn {
    min-width: 150px;
    min-height: 50px;
    font-size: 30px;
    padding: 10px 30px;
}

.textfield {
    width: 70%;
    height: 30px;
    padding-left: 10px;
    font-size: 13px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.147);
    text-align: end;

    &:hover {
        background-color: #ebedf1;
        border-radius: 5px;
        cursor: pointer;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.textfield-1 {
    width: 70%;
    height: 30px;
    padding-left: 10px;
    font-size: 13px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.147);
    text-align: end;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        margin-right: 3px;
    }
}
.btn {
    font-size: 13px;
    background-color: white;
    color: black;
    width: 60px;
    padding: 0;
}

.btn_active {
    font-size: 13px;
    background-color: #0088ff;
    color: white;
    width: 60px;
    padding: 0;
}

.img {
    height: 40px;
    width: 40px;
}

.form-control {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.147);
    border-radius: 0;
    &:focus {
        box-shadow: none;
    }
}

.barcode {
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}

.barcode.show {
    display: block;
}

.d-n {
    display: none;
}
