.container {
    height: 100vh;
    background-image: url('../../assets/images/minimal-morning-landscape-8k-gx-scaled.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form {
    height: 58%;
    width: 31%;
    background-color: #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.logo {
    height: 20px;
    width: 20px;
}
.form-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-logo h1 {
    font-size: 22px;
    font-weight: 700;
}
.login-text {
    width: 70%;
    height: 10%;
    position: relative;
    margin-bottom: 4%;
}
.login-text input {
    outline: none;
    position: relative;
    width: 100%;
    height: 92%;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: #316396;
    text-indent: 16px;
}
.input-border {
    background-image: url('../../assets/images/linear-gradient-text.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 8%;
    width: 100%;
}
.forgot-pass {
    width: 70%;
    height: 7%;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: right;
}
.forgot-pass p {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}
.login-btn {
    height: 10%;
    width: 47%;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background: url('../../assets/images/linear-gradient-text.jpg') lightgray
        50%;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
.login-btn .login-btn:hover {
    box-sizing: border-box;
}
@media screen and (min-width: 360px) {
    .login-form {
        min-width: 350px;
    }
}
@media screen and (min-height: 1180px) {
    .login-form {
        max-height: 30%;
    }
}
