.wrapper {
    width: 100vw;
    height: 100%;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .name {
        font-weight: 700;
        font-size: 25px;
    }

    .address {
        font-size: 18px;
    }

    .phone {
        font-size: 18px;
    }
}

.break {
    height: 1px;
    width: 100%;
    background-color: black;
    margin: 10px 0px;
}

.section2 {
    width: 100%;

    .title {
        font-size: 25px;
        font-weight: 700;
        text-align: center;
        margin: 10px 0px;
    }

    .space {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px;

        .id {
            font-size: 18px;
            font-weight: 500;
        }

        .time {
            font-size: 18px;
            font-weight: 500;
        }
    }
}

.section3 {
    width: 100%;
    font-size: 18px;
    font-weight: 500;

    .cus-name {
        margin: 5px 0px;
    }

    .cus-phone {
        margin: 5px 0px;
    }

    .cus-address {
        margin: 5px 0px;
    }
}

.section4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 18px;
    font-weight: 600;
}

.section5 {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;

    .wrapper-item {
        margin: 10px 0px;

        .name-item {
            margin: 5px 0px;
        }

        .space-item {
            display: flex;
            justify-content: space-between;
        }
    }
}

.section6 {
    width: 100%;
    font-size: 18px;

    .space-6 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 10px 0px;
    }
}

.section7 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
}
