.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/images/profile-bg.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}
.header-and-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
//header
.header {
    width: 100%;
    height: 7%;
    max-height: 45px;
    min-height: 40px;
}
//content
.content {
    // margin-top: 3%;
    width: 70%;
    height: 80%;
    display: flex;
    align-items: center;
    // background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
//khối 1
.content1 {
    height: 100%;
    width: 30%;
    border-radius: 10px 0 0 10px;
    background: #366577;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
    min-width: 220px;
}

.profile-card {
    width: 90%;
    height: 40%;
    margin-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.profile-avt {
    height: 165px;
    width: 165px;
    border-radius: 150px;
    border: 1px solid #cdcdcd;
}
.infor-card {
    width: 50%;
    min-width: 180px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
//input thêm ảnh
.input-file {
    height: 45px;
    width: 90%;
    background-color: #fff;
    // border: #c4ccde 2px solid;
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-file p {
    color: #366577;
    font-weight: 550;
}
.input-file input {
    cursor: pointer;
}
.profile-tag {
    width: 90%;
    height: 12%;
    margin-top: 15px;
    border: #c4ccde 1px solid;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
//khối 2
.content2 {
    height: 100%;
    width: 70%;
    border-radius: 0 10px 10px 0;
    // border: 1px solid #c4ccde;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-text-container {
    height: 50%;
    width: 90%;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    gap: 5px;
}
.btn-c {
    height: 60px;
    width: 90%;
    display: flex;
    justify-content: right;
}
.btn-c button {
    width: 100px;
    height: 45px;
    border-radius: 4px;
    background-color: #366577;
    color: #fff;
    font-weight: 500;
    margin-top: 15px;
    &:hover {
        background-color: #508597;
    }
}
.grid-content {
    position: relative;
    display: flex;
    flex-direction: column;
}
.grid-content p {
    font-size: 14px;
    height: fit-content;
    width: 100%;
}
.text-inp {
    width: 100%;
    height: 45px;
    border-radius: 4px;
    border: 1px solid #cdcdcd;
    background: #fff;
    text-indent: 10px;
    font-size: 14px;
    &:hover {
        border-radius: 4px;
        border: 1px solid #508597;
        background: #fff;
        color: #508597;
    }
    &:focus {
        border-radius: 4px;
        border: 1px solid #366577;
        background: #fff;
    }
    outline: none;
}
.changepass-container {
    width: 90%;
    height: 20px;
    // background-color: #007bff;
}
.changepass-container p {
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}
.changepass-form {
    height: 50%;
    width: 50%;
    position: absolute;
    left: 50%;
    // border: 1px solid #cdcdcd;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    transform: translate(-50%);
    top: 18%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 355px;
    min-height: 350px;
    max-height: 470px;
}
.changepass-content {
    margin-top: 20px;
    width: 85%;
    // background-color: #007bff;
    display: grid;
    height: 40%;
    grid-template-columns: 48% 48%;
    grid-template-rows: 50% 50%;
    grid-gap: 2%;
}
.but-container {
    width: 88%;
    height: 15%;
    // background-color: #007bff;
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: right;
}
.cancel-but {
    height: 70%;
    width: 100px;
    margin-right: 10px;
    border-radius: 4px;
    border: #366577 solid 1px;
    font-weight: 500;
    color: #366577;
    background: #fff;
    &:hover {
        background: #f5faff;
    }
    min-height: 40px;
    max-height: 50px;
}
.accept-but {
    height: 70%;
    width: 100px;
    margin-right: 10px;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    color: white;
    background: #366577;
    &:hover {
        background: #508597;
    }
    min-height: 40px;
    max-height: 50px;
}
.infor-card h1 {
    font-size: 27px;
    text-align: center;
    position: relative;
}
.infor-card p {
    width: 100%;
    text-align: center;
    font-size: 14px;
    position: relative;
}
.icon-cloud {
    height: 28px;
    width: 40px;
    color: #366577;
    cursor: pointer;
}
.input-file p {
    font-size: 14px;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}
.input-file input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.icon-mail {
    height: 70%;
    width: 15%;
    color: #31518c;
}
.profile-tag p {
    font-weight: 400;
    height: fit-content;
    margin-left: 5px;
    font-size: 14px;
}
.icon-phone {
    height: 50%;
    width: 15%;
    color: #31518c;
}
.content2 h3 {
    height: fit-content;
    font-size: 20px;
    margin-top: 15px;
    text-indent: 15px;
    width: 100%;
}
.details {
    height: fit-content;
    font-size: 13px;
    margin-top: 5px;
    text-indent: 15px;
    width: 100%;
    color: #637381;
}

.changepass-container p {
    width: fit-content;
    color: #366577;
    font-size: 15px;
}
.changepass-form h3 {
    height: 10%;
    font-size: 20px;
    text-indent: 20px;
    width: 100%;
    // border-bottom: 1px solid #cdcdcd;
    background-color: #366577;
    border-radius: 8px 8px 0 0;
    color: white;
    padding-top: 5px;
}
.changepass-form p {
    width: 90%;
    height: fit-content;
}
//dropdown giới tính
.options {
    width: 100%;
    height: 70px;
    position: absolute;
    margin-top: 70px;
}
.options ul {
    height: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.options ul li {
    font-size: 14px;
    list-style: none;
    text-indent: 0px;
    &:hover {
        background-color: #f5faff;
        cursor: pointer;
    }
}
.m-cp-c {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.m-cp-c p {
    color: red;
    width: fit-content;
}
.gd {
    &:hover {
        cursor: pointer;
    }
}

@media screen and (min-width: 840px) {
    .content {
        height: 488px;
    }
    .container {
        min-height: 500px;
        overflow: auto;
    }
}
@media screen and (max-width: 839px) {
    .container {
        min-height: 770px;
        overflow: auto;
    }
    .content {
        display: flex;
        flex-direction: column;
        box-shadow: none;
    }
    .content1 {
        width: 355px;
        min-height: 190px;
        border-radius: 10px;
    }

    .profile-card {
        margin-top: 0;
        height: 130px;
    }
    .profile-avt {
        width: 110px;
        height: 110px;
    }
    .content2 {
        border-radius: 10px;
        margin-top: 10px;
        min-height: 460px;
        width: 355px;
    }
    .changepass-form {
        margin-left: -8px;
    }
    .changepass-form p {
        font-size: 12px;
    }
    .accept-but {
        font-size: 12px;
        width: 80px;
    }
    .cancel-but {
        font-size: 12px;
        width: 80px;
    }
}
