@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #3a57e8;
    --background: #e9ecef;
    --border-color: #d0d5dd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #a8bbbf;
    border-radius: 20px;
    border: 4px solid transparent;
    background-clip: content-box;

    &:hover {
        background-color: #97a6a9;
    }
}
