.wrapper {
    height: 100vh;
    width: 230px;
    position: sticky;
    top: 0;
    left: 0;
}

.inner {
    height: 100%;
    background-color: #ccc;
    overflow: auto;
}

.sth {
    height: 50px;
    background-color: yellow;
    margin-bottom: 20px;
}
