.item{
    height: 80px;
    width: 100%;
    width: fit-content;
    display: flex;
    font-size: 11px;
    &:hover{
        background-color:rgba(0, 128, 255, 0.222);
        .textfield{
            background-color:rgba(0, 128, 255, 0);
        }
    }
    font-size: 13px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.066);
    border-top: 1px solid rgba(0, 0, 0, 0.066);
    box-shadow: 0px 2px 4px rgba(63, 63, 63, 0.25);
}

.properties-1{
    min-width: 120px;
    text-align: center;

}

.properties-2{
    min-width: 400px;
}

.properties-3{
    text-align: center;
    min-width: 220px;


}

.img{
    height: 40px;
    width: 40px;
}

.textfield{
    width: 50%;
    padding-left: 10px;
    font-size: 11px;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
}   

.icon{
    height: 15px;
    width: 15px;
    color: #A3A8AF;
    cursor: pointer;
    &:hover{
        box-shadow: 0 0 0 5px rgba(#000,.1)  ;
        border-radius: 10px;
        background-color: rgba(#000,.1);
    }
}



