.container {
    height: 100vh;
    width: 100vw;
    display: flex;
}
.header-and-content {
    width: 100%;
    height: 100%;
}
//header
.header {
    width: 100%;
    height: 7%;
}
//content
.content {
    width: 100%;
    height: 91%;
    display: flex;
    align-items: center;
}
//khối 1
.content1 {
    height: 70%;
    width: 30%;
    margin-left: 4%;
    border-radius: 10px;
    border: 1px solid #c4ccde;
    background: #fff;
    margin-right: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-card {
    width: 90%;
    height: 35%;
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.profile-avt {
    height: 150px;
    width: 150px;
    border-radius: 150px;
}
.infor-card {
    height: 150px;
    width: 50%;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.input-file {
    height: 45px;
    width: 90%;
    background-color: #fff;
    border: #c4ccde 2px solid;
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-tag {
    width: 90%;
    height: 12%;
    margin-top: 15px;
    border: #c4ccde 1px solid;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
//khối 2
.content2 {
    height: 70%;
    width: 60%;
    border-radius: 10px;
    border: 1px solid #c4ccde;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-text-container {
    height: 70%;
    width: 90%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    gap: 5px;
}
.grid-content {
    display: flex;
    flex-direction: column;
}
.text-inp {
    width: 100%;
    height: 45px;
    border-radius: 4px;
    border: 1px solid #c4ccde;
    background: #fff;
    text-indent: 10px;
    font-size: 14px;
    &:hover {
        border-radius: 4px;
        border: 2px solid #555555;
        background: #fff;
    }
    &:focus {
        border-radius: 4px;
        border: 2px solid #007bff;
        background: #fff;
    }
    outline: none;
}
.changepass-container {
    width: 90%;
    height: 30px;
    // background-color: #007bff;
}
.changepass-container p {
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}
.changepass-form {
    height: 50%;
    width: 50%;
    position: absolute;
    left: 50%;
    border: 1px solid #cdcdcd;
    background: #fff;
    transform: translate(-50%);
    top: 20%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.changepass-content {
    margin-top: 20px;
    width: 85%;
    // background-color: #007bff;
    display: grid;
    height: 40%;
    grid-template-columns: 48% 48%;
    grid-template-rows: 50% 50%;
    grid-gap: 2%;
}
.but-container {
    width: 88%;
    height: 15%;
    // background-color: #007bff;
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: right;
}
.cancel-but {
    height: 70%;
    width: 100px;
    margin-right: 10px;
    border-radius: 4px;
    border: #007bff solid 1px;
    font-weight: 500;
    color: #007bff;
    background: #fff;
    &:hover {
        background: #f5faff;
    }
}
.accept-but {
    height: 70%;
    width: 100px;
    margin-right: 10px;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    color: white;
    background: #007bff;
    &:hover {
        background: #006db3;
    }
}
.infor-card h1 {
    font-size: 27px;
    text-align: center;
    position: relative;
}
.infor-card p {
    width: 100%;
    text-align: center;
    font-size: 14px;
    position: relative;
}
.icon-cloud {
    height: 28px;
    width: 40px;
    color: #c4ccde;
}
.input-file p {
    font-size: 14px;
    height: fit-content;
    width: fit-content;
}
.input-file input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.icon-mail {
    height: 70%;
    width: 15%;
    color: #31518c;
}
.profile-tag p {
    font-weight: 400;
    height: fit-content;
    margin-left: 5px;
    font-size: 14px;
}
.icon-phone {
    height: 50%;
    width: 15%;
    color: #31518c;
}
.content2 h3 {
    height: fit-content;
    font-size: 20px;
    margin-top: 5px;
    text-indent: 10px;
    width: 100%;
}
.details {
    height: fit-content;
    font-size: 13px;
    margin-top: 5px;
    text-indent: 10px;
    width: 100%;
    color: #637381;
}
.grid-content p {
    font-size: 14px;
    height: fit-content;
    width: 100%;
}
.changepass-container p {
    width: fit-content;
    color: #007bff;
    font-size: 15px;
}
.changepass-form h3 {
    height: 10%;
    font-size: 20px;
    margin-top: 5px;
    text-indent: 20px;
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
    padding-top: 5px;
}
.changepass-form p {
    width: 90%;
    height: fit-content;
}
