.container {
    height: 100vh;
    width: 100%;
    background-color: #f0f1f1;
    display: grid;
    grid-template-columns: 60% 40%;
}
//grid1
.grid1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
//thông tin chung
.grid1-maininfo {
    height: 40%;
    width: 85%;
    background-color: #fff;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
//tiêu đề
.title {
    height: 50px;
    width: 100%;
    border-bottom: 1px #cdcdcd solid;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.title p {
    height: fit-content;
    width: fit-content;
    font-size: 15px;
    font-weight: 600;
}
//input text
.input-text-container {
    height: 65%;
    width: 100%;
    // background-color: antiquewhite;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
.input-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-text div {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.input-text div p {
    font-size: 14px;
    height: fit-content;
    width: 100%;
}
.input-text div input {
    height: 40px;
    width: 100%;
    padding-left: 8px;
    font-size: 14px;
    font-style: normal;
    border-radius: 4px;
    outline: none;
    border: #cdcdcd 1px solid;
    &:hover {
        border-radius: 4px;
        border: 1px solid #555555;
        background: #fff;
    }
    &:focus {
        border-radius: 4px;
        border: 1px solid #007bff;
        background: #fff;
    }
}
//checkbox
.checkbox-wrapper {
    width: 90%;
    height: fit-content;
    margin-left: 5%;
}
.checkbox-wrapper label {
    font-size: 14px;
}
//thông tin khuyến mãi
.grid1-discount-info {
    height: 35%;
    width: 85%;
    background-color: #fff;
    background-color: #fff;
    margin-top: 5%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
//thông tin khuyến mãi
.discount-content {
    width: 95%;
    height: 75%;
    // background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.discount-content p {
    font-size: 14px;
    height: fit-content;
    width: 100%;
}
.table {
    display: grid;
    height: 75%;
    // background-color: aqua;
    width: 100%;
    grid-template-rows: 30% 70%;
}
.table-FirstRow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f9ff;
}
.table-FirstRow p {
    font-size: 14px;
    height: fit-content;
    width: fit-content;
}
.table-SecondAndThirdRow {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 33% 33% 34%;
}
.table-SecondRow {
    background-color: #f3f4f5;
    border-top: 1px #cdcdcd solid;
    display: flex;
    align-items: center;
    border-bottom: 1px #cdcdcd solid;
}
.table-SecondRow p {
    font-weight: 600;
    height: fit-content;
    width: 100%;
    text-align: right;
    padding-right: 5%;
}
.table-ThirdRow {
    background-color: #fff;
    border-bottom: 1px #cdcdcd solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-ThirdRow input {
    outline: none;
    border-bottom: 1px #cdcdcd solid;
    width: 90%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    text-align: right;
    font-size: 14px;
    &:hover {
        border-bottom: 1px solid #555555;
    }
    &:focus {
        border-bottom: 1px solid #007bff;

    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
//grid2
.grid2 {
    display: grid;
    grid-template-rows: 70% 30%;
}
//thời gian áp dụng
.grid2-AvailableDate {
    height: 30%;
    width: 90%;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.daterange-container {
    width: 85%;
    margin-top: 5%;
}
//nút lưu
.button-container {
    display: flex;
    justify-content: right;
    width: 90%;
    height: fit-content;
    margin-top: 50px;
}
.cancel-but {
    height: 40px;
    width: 100px;
    color: #007bff;
    background-color: #fff;
    border-radius: 5px;
    outline: none;
    border: #007bff solid 1px;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    &:hover {
        background-color: #f3f4f5;
    }
}
.save-but {
    height: 40px;
    width: 100px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 500;
    &:hover {
        background-color: #33a0ff;
    }
}
