.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 5px 10px 5px 20px;

    .title {
        font-size: 20px;
        font-weight: 600;
        line-height: 0;
    }

    .btn-close {
        padding: 15px 19px 15px 19px;
        border-radius: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: rgb(245, 245, 245);

            cursor: pointer;

            .btn-close-icon {
                color: rgb(252, 148, 148);
            }
        }

        .btn-close-icon {
            color: var(--border-color);
            font-size: 16px;
        }
    }
}

.divider {
    height: 5px;
    color: rgba(0, 0, 0, 1);
    margin: 0;
}

.action {
    display: flex;
    justify-content: flex-end;
    padding: 13px 20px;
}

.content {
    padding: 10px 20px 20px 20px;
}

.wrapper {
    width: 700px;
    overflow: auto;
}

@media only screen and (max-width: 700px) {
    .wrapper {
        width: 100vw;
    }
}
