// PRODUCT ITEM - CODE COLUMN
.product-code-container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 14px;
    font-family: inherit;
}

.product-img {
    min-height: 50px;
    min-width: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 10px;
}

.product-id-name {
    .product-id {
        font-weight: bold;
        margin-bottom: 2px;
    }

    .product-name {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

// PRODUCT ITEM - STATE COLUMN
.product-state-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

    padding: 5px 10px 5px 10px;

    background-color: #ecfdf3;
    color: #027948;

    font-size: 12px;
    font-family: inherit;

    .product-state-icon {
        color: #12b76a;
    }

    .product-state {
        margin-left: 5px;
        font-weight: 500;
        text-align: center;
    }
}

.state-0 {
    color: #b32318;
    background-color: #fef3f2;

    .product-state-icon {
        color: #f04438;
    }
}

// PRODUCT ITEM - TYPE COLUMN
.product-type-container {
    color: #101828;
    background-color: #d0d5f1;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;

    font-size: 12px;
    font-family: inherit;

    display: flex;
    justify-self: center;

    .product-type {
        font-weight: 500;
        text-align: center;
    }
}

// PRODUCT ITEM - PRICE & COST COLUMN
.product-value-container {
    font-size: 12px;
    font-family: inherit;
    font-weight: 500;
}
