.list{
    min-height: 320px;
}

.list-item{
    min-height: 60px;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.171);
    border-width: 70%;
    &:hover{
        background-color:rgba(0, 128, 255, 0.222)
    }
}

.icon{
    height: 15px;
    width: 15px;
    cursor: pointer;
    &:hover{
        box-shadow: 0 0 0 5px rgba(#000,.1)  ;
        border-radius: 10px;
        background-color: rgba(#000,.1);
    }
}