.search-bar {
    border: 1px solid var(--border-color);
    padding: 10px;

    color: var(--border-color);
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    &:hover {
        border-color: rgba(128, 128, 128, 0.7);
        
        
    }
    
}

.search-bar-icon {
    font-size: 1rem;
}

// Input
.search-bar-input {
    flex: 1;
    border: none;
    outline: none;
    height: 100%;
    margin-left: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.5;

    // &:focus-visible {
    //     outline: none;
    // }
   

    
}

.data-list{
    width: 100%;
}

.search-result{
    border: 0.5px solid rgba(0, 0, 0, 0.185);
    position:absolute;
    width:auto;
    border-radius: 10px;
    background: rgb(255, 254, 254);
    margin-top: 10px;
    min-width: 50%;
    z-index: 10;

}

.result-item{
    min-height: 25px;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.171);
    border-width: 70%;

    &:hover{
        background-color:rgba(0, 128, 255, 0.222)
    }
}

