.frame{
    margin: 25px auto ;
    padding: 15px 30px;
    text-wrap:wrap;
    background-color: white;
    width: 80%;
    min-height: 100px;
    border-radius: 10px;
}
.inner {
    padding: 20px;
    height: fit-content;
}
.wrapper {
    width: 100%;
    height: 100%;
    background: var(--background) url('../../assets/images/bg_img.svg')
        no-repeat top left;
}

.title{
    font-size: 16px;
    font-weight: 500;
}

.columns-1{
    text-align: center;
    min-width: 100px;
}

.columns-2{
    min-width: 380px;

}
.columns-3{
    min-width: 180px;
    text-align: center;
}

.bg{
    background-color: rgb(242, 249, 255);
}

.row{
    margin-top: 10px;
    background-color: #c4c2c23e;
    padding: 10px;
    padding-left: 0;
    padding-right: 7%;
    height: 40px;
    font-weight: 600;
    width: fit-content;
    display: flex;

}

.img{
    height: 40px;
    width: 40px;
}
.content-check{
    overflow: scroll;
    margin-top: 30px;
}

.return-true{
    background-color: blue;
    color: white;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.return-false{
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.list{
    max-height: 300px;
    width: 100%;
    padding: 5px;
    z-index: 1;
}

.my-btn{
    min-width: 130px;
    min-height: 50px;

    
}
.textfield{
    width: 70%;
    padding-left: 10px;
    font-size: 13px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.147);
    text-align: end;

    &:hover{
        border-bottom: 1px solid black;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
} 