.wrapper {
    height: 58px;
    width: calc(100% - 250px);
    position: fixed;
    top: 0;
    z-index: 10;
}

@media only screen and (max-width: 1300px) {
    .wrapper {
        width: calc(100% - 20%);
    }
}

.inner {
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(168, 168, 168, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper-action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    user-select: none;

    .btn-sidebar {
        font-size: 20px;
        padding: 3px 8px;
        border-radius: 5px;
        display: none;

        &:hover {
            cursor: pointer;
            background-color: var(--background);
        }

        &:active {
            color: var(--primary);
        }
    }

    .btn-back {
        font-size: 20px;
        padding: 3px 8px;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
            background-color: var(--background);
        }

        &:active {
            color: var(--primary);
        }
    }

    .title {
        margin-left: 10px;
        font-size: 20px;
        font-weight: 600;
    }
}

.wrapper-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    user-select: none;

    &:hover {
        background-color: var(--background);
        cursor: pointer;
    }

    &:active {
        .name {
            color: var(--primary);
        }
    }

    .avt {
        width: 40px;
        height: 40px;
        border-radius: 999px;
        background-image: url('https://media.vneconomy.vn/w800/images/upload/2022/07/13/dang-ky-bao-ho-nhan-hieu-tai-thanh-pho-ho-chi-minh.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .name {
        font-size: 15px;
        font-weight: 600;
        margin-left: 10px;
    }
}

.popper {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(168, 168, 168, 0.5) 0px 10px 20px;
    padding: 10px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.margin {
    margin-bottom: 5px;
}

@media only screen and (max-width: 1050px) {
    .wrapper-action {
        .btn-sidebar {
            display: block;
        }
    }

    .btn-back {
        margin-left: 10px;
    }

    .wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 525px) {
    .wrapper-action {
        .title {
            font-size: 16px;
        }
    }

    .wrapper-info {
        .name {
            display: none;
        }
    }
}

.custom {
    width: 100% !important;
}
