.box{
    position: absolute;
    background-color: white;
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    top: 10%;
    left: 20%;
    right: 20%;
    height: auto;
    min-width: 40%;
    padding-bottom: 20px;
}

.multi-open{
    border: 1px solid rgba(0, 0, 0, 0.24);
    height: 39px;
    padding: 5px 30px;
    cursor: pointer;
    align-self: center;
}


