.wrapper {
    min-height: 100vh;
    height: 100%;
    background: var(--background) url('../../assets/images/bg_img.svg')
        no-repeat top left;
}

.inner {
    padding: 20px;
}

.tool-bar {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 5px 5px;
    border-radius: 5px;
    flex-wrap: wrap;
}

@media only screen and (max-width: 400px) {
    .tool-bar {
        flex-direction: column;
    }
}

@media only screen and (max-width: 480px) {
    .tool-bar {
        width: fit-content;
    }

    .tool-bar-left {
        flex-direction: column;
    }

    .margin {
        margin-bottom: 5px;
    }
}

.tool-bar-left {
    padding: 5px 5px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
}

.tool-bar-right {
    padding: 5px 5px;
    border-radius: 5px;
    width: fit-content;
}

.margin {
    margin-right: 5px;
}

.margin:last-child {
    margin-right: 0px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.m-b {
    margin-bottom: 20px;
}

.m-l-10 {
    margin-left: 10px;
}

.info {
    font-size: 14px;
    margin-top: 5px;
}

.red {
    color: red;
    font-weight: bold;
}
